/* ====== COMMON ====== */
.error {
  color: red !important;
}

.border_comment {
  border: 1px solid black !important;
}

.sale {
  display: flex !important;
  align-items: center !important;
  gap: 6px !important;
}

.sale span {
  font-weight: bold !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
